
.container-empCadastradas {
  background-image: url(../img/background1.png);
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div_container_empresas_cadast::-webkit-scrollbar {
  width: 12px; /*Largura da Barra de rolagem */
}

.div_container_empresas_cadast::-webkit-scrollbar-track {
  background: #4d4d4d; /* Cor da Raiz Principal da Barra de Rolagem */
  border-radius: 20px;
}

.div_container_empresas_cadast::-webkit-scrollbar-thumb {
  background-color: rgb(117, 175, 223); /* Cor do scroll Thub */
  border-radius: 20px; /* Curvatura do Scroll thumb */
  border: 2px solid #4d4d4d; /*Criar uma Borda com cor no Scroll thumb*/
}

.navbar-empCadast .li1 {
  border-right: 2px solid #fff;
  width: 150px;
  text-decoration: none;
}

.navbar-empCadast .li {
  font-size: 100px;
  color: #ffffff;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.div_container_empresas_cadast {
  height: 300px;
  background-color: #191d20;
  width: 70vw;
  flex-direction: column;
  overflow-y: scroll  ;
  overflow-x: hidden;
  padding: 20px;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  box-shadow: 0 0 1em rgb(95, 95, 95);
}

.container-empCadastradas-footer {
  background-color: rgba(122, 119, 119, 0.37);
  height: 10vh;
  width: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagens-empresas-cad {
  height: 103px;
  width: 20%;
}

.uso_local {
  color: #00418c;
}

.texto_mediano_btn {
  color: #ffffff;
  font-weight: 400;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* -------- gif Loading -------- */
.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}
/* --------------------------------- */

/* -----------------Dados Cadastrados dentro da tabela------------------------- */
.nome_empresa{
  color: rgb(179, 179, 179);
  font-family: monospace;
  font-size: 17px;
  line-height: 40px;
}
.informacoes_empresa{
  color: rgb(179, 179, 179);
  font-family: monospace;
  font-size: 17px;
  line-height: 40px;
}
table{
  width: 100%;
}
th{
  color: rgb(117, 175, 223);
  font-size: 18px;
}
tbody{
  text-align: center;
}
/* -------------------------------------------------------------------- */
.span_button{
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction:row;
  align-items: flex-end;
  justify-content: center;
}
.button_visualizar_dados{
  width: 150px;
  height: 30px;
  border-radius: 20px;
  border: 4px solid rgb(0, 24, 56);
  background-color: rgb(46, 74, 133);
  color: #fff;
  transition: 0.30s;
}
.button_visualizar_dados:hover{
  transform: scale(1.1);
  cursor: pointer;
}


/* --------------------------------------- */
.content_visualisar_linha{
  margin-top: 30px;
  padding: 20px 0px 20px 0px;
  width: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #191d20;
  box-shadow: 0 0 1em rgb(85, 85, 85);
  color: #fff;
  text-align: center;
  transition: 1s;
}

.selectDado{
  margin-top: 7px;
  text-align: center;
  border-radius: 20px;
  width: 300px;
  height: 25px;
  margin-bottom: 30px;
}

.content_visualisar_linha button{
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  transition: 0.80s;
}

.content_visualisar_linha button:hover{
  background-color: rgb(117, 175, 223);
}

.seta_voltar{
  transition: 1s;
}
.seta_voltar:hover{
  transform: scale(1.5);
}